$sans: Helvetica Neue, Helvetica, Arial, sans-serif;
$serif: Vollkorn, serif;

body {
  background: #fcfcfc;
}

.clear {
  clear: both;
}

html {
  // font-size: 115%;
  line-height: 125%;
  font-family: $serif;
  color: #1a1a1a;
}

p {
  margin: 0;
}


h1:before {
  content: "Î». ";
  @media (max-width: 480px) {
    content: "";
  }
}

h1 {
  font-family: $serif;
  font-size: 600%;
  font-weight: 100;
  line-height: normal;
  margin: 0;
  // letter-spacing: 0.1em;
  // margin: 0.5em 0;
}

h2 {
  font-weight: normal;
  // font-style: italic;
  font-weight: 100;
  font-size: 133%;
  margin: 0 0 1em 0;
  letter-spacing: 0.1em;
  line-height: normal;
  @media (max-width: 480px) {
    letter-spacing: 0em;
  }
}

.links {
  font-size: 110%;

}

header {
  margin-bottom: 3em;
}

h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 175%;
  margin: 0 0 0.25em 0;
  line-height: normal;
}

h4 {
  font-weight: normal;
  font-style: italic;
  font-size: 100%;
  margin: 0;
  line-height: normal;
}

.cvsection {
  margin: 0 0 2em 0;
}

.cvs-wide p {
  margin: 0 0 0.5em 0;
}

.cvline {
  margin: 0 0 0.5em 0;
}

.cventry-heading {
  margin: 0 0 0.1em 0;
}

.cventry-heading > span {
  margin: 0 0.5em 0 0;
}

.cventry-title {
  font-weight: bold;
}

.cventry-institution {
  font-style: italic;
}

div#section-skills p {
  font-size: 95%;
  line-height: 125%;
  // font-style: italic;
  // font-family: $sans;
}

a {
  &:hover {
    background-color: #eee;
  }
  &:visited {
    color: #224;
  }

  text-decoration: none;
  border-bottom: 1px dotted #bbb;
  color: #447;
}

div#main-container {
  max-width: 960px;
  margin: 0 20px;
}

.cvsection-pretitle, .cvline-desc {
  text-align: right;
  @media (max-width: 480px) {
    text-align: left;
    margin-top: 1em;
  }
}

.cvsection-pretitle a {
  font-size: 175%;
  margin-top: 0.1em;
  @media (max-width: 480px) {
    display: none;
  }
}
